$container: 1280px;

$fz: 20px;
$ff: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
// $acent-ff: PTSans;

$text: #222;
$accent: #FF5F1F;
$pain: #ec1443;
$pain-bg: #ffc8ca;