.header {
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 padding: 0.2em 0;
 background-color: rgba(255, 255, 255, 0.35);
 box-shadow: 0.2em 0 0.2em rgba(5, 5, 5, 0.30);
 // background: rgba(255, 255, 255, 0.72);
 -webkit-backdrop-filter: blur(10px);
 backdrop-filter: blur(10px);
 z-index: 100;

 @include bp(600px) {
  // padding: 1em 0;
 }
}

.menu {
 @include bp(600px) {
  position: absolute;
  transform: translateX(-100%);
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
  transition: transform 0.5s ease-in-out;
  will-change: transform;

  &.open {
   transform: translateX(0);
  }
 }
}

.menu__list {
 @include row(ac);

 li {
  flex: 0 1 0;

  &:not(.current) {
   a {
    color: lighten($text, 50%);
   }
  }

 }

 a {
  display: block;
  padding: 1em 0.95em;
  font-size: 0.85em;
  text-align: center;

  @include bp(850px) {
   padding: 1em 0.45em;
  }

  @include bp(600px) {
   padding: 1em 1.5em;
   text-align: initial;
  }
 }

 @include bp(600px) {
  display: block;
 }
}